{{ include('layout/main.html.twig') }}

<head>

	{{ include('layout/title.html.twig', {title: 'Calendrier'}) }}

	<!-- fullcalendar css -->
	<link href="/libs/fullcalendar/main.min.css" rel="stylesheet" type="text/css"/>

	{{ include('layout/css.html.twig') }}

</head>

<body>

	<!-- Begin page -->
	<div id="layout-wrapper">

		{{ include('layout/menu.html.twig') }}

		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
			<div class="main-content"> <div class="page-content">
				<div class="container-fluid">

					{{ include('layout/page-title.html.twig', {pagetitle: 'Accueil', title: 'Planning'}) }}

					<div class="row">
						<div class="col-xl-12">
							<div class="card card-height-100">
								<div class="card-header align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">Top Referrals Pages</h4>
									<div class="flex-shrink-0">
										<button type="button" class="btn btn-soft-primary btn-sm">
											Export Report
										</button>
									</div>
								</div>

								<div class="card-body">

									<div id="color_heatmap" data-colors='["--vz-success", "--vz-info", "--vz-primary", "--vz-warning", "--vz-secondary"]' class="apex-charts mt-n3" dir="ltr"></div>

									<div class="row px-4 g-3">
										<div class="col-md-4">
											<div class="d-flex mb-2">
												<div class="flex-grow-1">
													<p class="text-truncate text-muted fs-14 mb-0">
														<i class="mdi mdi-circle align-middle text-primary me-2"></i>www.google.com
													</p>
												</div>
												<div class="flex-shrink-0">
													<p class="mb-0">24.58%</p>
												</div>
											</div>
											<!-- end -->
											<div class="d-flex mb-2">
												<div class="flex-grow-1">
													<p class="text-truncate text-muted fs-14 mb-0">
														<i class="mdi mdi-circle align-middle text-warning me-2"></i>www.medium.com
													</p>
												</div>
												<div class="flex-shrink-0">
													<p class="mb-0">12.22%</p>
												</div>
											</div>
											<!-- end -->
											<div class="d-flex mb-2">
												<div class="flex-grow-1">
													<p class="text-truncate text-muted fs-14 mb-0">
														<i class="mdi mdi-circle align-middle text-secondary me-2"></i>Other
													</p>
												</div>
												<div class="flex-shrink-0">
													<p class="mb-0">17.58%</p>
												</div>
											</div>
											<!-- end -->
                                            <div class="d-flex mb-2">
												<div class="flex-grow-1">
													<p class="text-truncate text-muted fs-14 mb-0">
														<i class="mdi mdi-circle align-middle text-info me-2"></i>www.youtube.com
													</p>
												</div>
												<div class="flex-shrink-0">
													<p class="mb-0">17.51%</p>
												</div>
											</div>
											<!-- end -->
											<div class="d-flex mb-2">
												<div class="flex-grow-1">
													<p class="text-truncate text-muted fs-14 mb-0">
														<i class="mdi mdi-circle align-middle text-success me-2"></i>www.meta.com
													</p>
												</div>
												<div class="flex-shrink-0">
													<p class="mb-0">23.05%</p>
												</div>
											</div>
											<!-- end -->
										</div>
									</div>
								</div>
								<!-- end card body -->
							</div>
						</div>
					</div>
					<!-- container-fluid -->
				</div>
				<!-- End Page-content -->

				{{ include('layout/footer.html.twig') }}
			</div>
			<!-- end main content-->

		</div>
		<!-- END layout-wrapper -->

		{{ include('layout/js.html.twig') }}

		<!-- apexcharts -->
		<script src="/libs/apexcharts/apexcharts.min.js"></script>

         <!-- Widget init -->
        <script src="/js/pages/widgets.init.js"></script>

		<!-- calendar min js -->
		<script src="/libs/fullcalendar/main.min.js"></script>

		<!-- Calendar init -->
		<script src="/js/pages/calendar.init.js"></script>

		<!-- App js -->
		<script src="/js/app.js"></script>
	</body>
</body></html>
